root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[*.go]
indent_size = 4
indent_style = tab
tab_width = 4

[*.{js,jsx,ts,tsx,json,css,scss,less,sass,html,yml,md}]
indent_style = space
indent_size = 2
end_of_line = lf