.website-card {
  padding: 1rem;
}

.website-card__header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.website-card__title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}

.website-card__url {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1rem;
  color: var(--color-gray);
}

.website-card:not(:last-child) {
  border-bottom: 2px solid #eaeaea;
}
