.status {
  margin-top: 1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  padding: 1rem;
  background-color: var(--color-white);
  z-index: 10;
  border-radius: 0.25rem;
  transform: translateX(-50%);
  top: -3rem;
  min-width: 10rem;
  white-space: nowrap;
  border: 2px solid var(--color-border);
  text-align: center;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
  transition: opacity 0.1s ease-out;
}

.overlay-date,
.overlay-response-time {
  display: block;
  font-family: "IBM Plex sans", sans-serif;
  color: var(--color-black);
}
