.tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--color-black);
  color: var(--color-white);
  z-index: 10;
  border-radius: 0.25rem;
  transform: translateX(-50%);
  top: -4rem;
  min-width: 14rem;
  white-space: nowrap;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
  transition: opacity 0.1s ease-out,
              transform 0.1s ease-out;
}

.tooltip__datetime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-gray);
}

.tooltip__date,
.tooltip__time,
.tooltip__response-time {
  display: block;
  font-family: var(--font-heading);
}
