@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #1e293b;
  --color-light-gray: #cbd5e1;
  --color-gray: #475569;
  --color-emerald: #34d399;
  --color-red: #f87171;
}

body {
  background-color: #f9fafc;
  color: var(--color-black);
}
