* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-heading: "IBM Plex Sans", sans-serif;
  --font-body: "Libre Franklin", sans-serif;

  --color-white: #ffffff;
  --color-bg: #f9fafc;
  --color-dark-bg: #e5e7eb;
  --color-black: #1e293b;
  --color-lighter-gray: #cbd5e1;
  --color-light-gray: #94a3b8;
  --color-gray: #475569;
  --color-emerald: #10b981;
  --color-red: #ef4444;
  --color-sky: #0284c7;
  --color-border: #e5e7eb;

  --filter-brightness: brightness(0.9);
}

[data-theme="dark"] {
  --color-white: #1f2937;
  --color-bg: #111827;
  --color-dark-bg: #0f172a;
  --color-black: #f9fafc;
  --color-lighter-gray: #4b5563;
  --color-light-gray: #64748b;
  --color-gray: #94a3b8;
  --color-emerald: #34d399;
  --color-red: #f87171;
  --color-sky: #0ea5e9;
  --color-border: #374151;

  --filter-brightness: brightness(1.1);
}

body {
  background-color: var(--color-bg);
  color: var(--color-black);
}

